body {
    text-align: center;
    color: #212529;
    font-family: 'Baloo Tammudu', cursive
}
header, section {
    padding-top: 100px;
    padding-bottom: 100px
}
#navbar1 {
    z-index: 999
}
#navbar2 {
    z-index: 998
}
.nav-logo {
    max-width: 50%
}
#menu {
    width: 100%;
    height: 0px;
    text-align: center;
    min-width: 200px;
    z-index: 2
}
#menu a {
    font-family: arial;
    text-decoration: none;
    color: #fff;
    margin-right: 20px
}



p.secc-10-precio-kilo {
        font-family:"Open Sans"!important;
    }





#menu a.active {
    color: #F6A700 !important;
    cursor: default;
}

.contact-link:hover {
    color: #1da5b7 !important;
}




.logo {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100%;
    max-width: 300px;
    padding-top: 100px
}


img.logo-perro {
    float: right
}
.fixed {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.07)
}
.margen {
    margin-top: 50px
}
.p1 {
    padding: 1%
}
.p3 {
    padding: 3%
}
.pl2 {
    padding-left: 2%
}
.pr2 {
    padding-right: 2%
}
.pl5 {
    padding-left: 5%
}
.pr5 {
    padding-right: 5%
}
.pl9 {
    padding-left: 9%
}
.pr9 {
    padding-right: 9%
}
.pl25 {
    padding-left: 25%
}
.pr25 {
    padding-right: 25%
}
.pl35 {
    padding-left: 35%
}
.pr35 {
    padding-right: 35%
}
.pr21 {
    padding-right: 21%
}
.pr65 {
    padding-left: 65%
}
.pl65 {
    padding-right: 65%
}
.bg1 {
    background-image: url(../img/Pattern-azul.jpg);
    background-repeat: inherit
}
.bg2 {
    background-color: #f3fafc
}
.bg3 {
    background-color: dimgray
}
.bg4 {
    background-color: #1da5b7
}
.bg5 {
    background-color: #9a5919
}
.bg6 {
    background-color: #fff
}
.c1 {
    color: #1da5b7
}
.c2 {
    color: #fff
}
.c3 {
    color: white
}
.c4 {
    color: #6c5851
}
.c5 {
    color: #eca426
}
.c6 {
    color: #212529
}
.display-3 {
    opacity: 0.9;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    color: #5C463E
}
li span {
    color: #212529
}
section .dato {
    font-size: 56px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff
}
.secc2-sub-consec {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #6c5851;
    padding-left: 30%;
    padding-right: 30%
}
.secc2-subhed-consec {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1da5b7
}
.secc2-consec-txt {
    font-family: 'Open Sans';
    padding-left: 22%;
    padding-right: 22%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: #212529
}
.secc3-heading {
    padding-right: 3%;
    padding-left: 3%
}
.secc4-heading {
    padding-right: 10%
}
p.secc4-txt {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    padding-right: 40%
}
.secc-4 {
    text-align: left
}
p.secc4-txt-2 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    padding-right: 50%;
    padding-top: 15px
}
.secc-5 {
    text-align: left
}
.secc5-txt {
    padding-right: 7%;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529
}
.secc5-txt-2 {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #5c463e
}
.secc5-termometro {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.63;
    letter-spacing: -0.1px;
    color: #5c463e
}
.secc-5-mobile-termometro>p {
    transform: rotate(0deg);
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 70px;
    letter-spacing: -0.1px;
    color: #5c463e
}
.secc-6 {
    text-align: left
}
 
.redondeado {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 10px
}
div.secc-6 ul.secc-6-ul-1 {
    margin-top: 30px
}
ul.secc-6-ul-1 {
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
}
div.secc-6 ul.secc-6-ul-1 li {
    color: #1da5b7
}
.secc-6-niveles {
    text-align: right;
    list-style-type: none
}
.circulo1 {
    background-color: #e95254
}
.circulo2 {
    background-color: #faaf40
}
.circulo3 {
    background-color: #f3e8d2
}
.secc-6-txt {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    padding-right: 40%
}
.secc-6-ul-1 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529
}
.secc-6-Nivel-de-sobrepoblac {
    font-family: 'Open Sans';
    font-size: 16.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #523d36
}
.secc-6-Nivel-color {
    font-family: 'Open Sans';
    font-size: 9.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #523d36
}
.secc-7 {
    text-align: left
}
.secc-7-text {
    padding-right: 17%;
    margin-bottom: 50px;
}
a.Rectangle-11 {
    width: 250px;
    height: 60px;
    border-radius: 100px;
    background-color: #00a7b6;
    border: 1px solid #00a7b6;
    color: #fff;
    line-height: 47px;
    text-decoration: none;
    outline: none;

    cursor: hand;
}
a span.VER-MS {
    width: 224px;
    height: 71px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
.secc-7-text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529
}
.costo {
    font-family: 'Open Sans';
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #eca426
}
.btn-info {
    color: #fff;
    background-color: #1da5b7;
    border-color: #1da5b7
}
.btn {
    padding: .375rem 1.75rem;
    border-radius: 1rem
}
.navbar {
    padding: 0.5rem 1rem;
    padding-left: 0;
    z-index: 1;
    -webkit-transition: background-color .5s;
     -moz-transition: background-color .5s;
      -o-transition: background-color .5s
}
.secc-9-macho {
    background-color: #f3fafc
}
.secc-9-hembra {
    background-color: #fdf5f8
}
.secc-9-head {
    padding-left: 15%;
    padding-right: 15%
}
.secc-9-text {
    padding-right: 15%;
    padding-left: 14%;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529
}
.secc-9-sex {
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #392924
}
.secc-9-DESKTOP-IMG {
    position: relative;
    bottom: 50%!important;
    right: 0!important;
    max-width: 30%!important
}
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block
}
.secc-10-text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    padding-right: 10%
}
.secc-10-text-2 {
    margin: 0
}
.secc-10-text-fuente {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    padding-right: 15%
}
h2.secc10-text-head {
    text-align: left
}

.secc-12-borde {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0
}
.secc-12-head {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff
}
.secc-12-text {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px
}
.secc-12-tit-head {
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #49352f
}
.secc-12-precio {
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #49352f
}
.secc-12-fuente {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #343434
}
.secc-12-costo {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #343434
}
    
.secc-14-head {
    padding-left: 10%;
    padding-right: 10%;
        margin-top: 75px;

}
.secc-14-text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: center;
    color: #212529;
    padding-left: 30%;
    padding-right: 30%
}
.contac-head {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c463e
}
.contact-text {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #49352f
}
.contact-text-head {
    z-index: 0
}
header.contact {
    padding: 0
}
footer {
    background-image: url(../img/Pattern-negro.jpg);
    background-repeat: inherit
}
footer .foo-secc-1, .foo-secc-2, .foo-secc-3 {
    text-align: left;
    color: #fff
}
footer .foo-secc-1 {
    padding: 5%;
    padding-left: 6%;
    padding-right: 6%
}
footer .foo-secc-2 {
    padding: 5%;
    padding-left: 3%;
    padding-right: 3%
}
footer .foo-secc-3 {
    padding: 5%
}
footer h5 {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-bottom: 20px
}
footer p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
footer p.secc-1-head {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
header.contact {
    padding: 0;
    padding-top: 70px
}
.contact-text-head {
    padding-top: 100px!important
}
div.container-perrito-foo {
    position: absolute;
    top: 7%;
    right: 0%;
    z-index: -1
}

.secc-MITOS {
    padding-bottom: 10%;
}

/* mitos*/ 
.caja-texto {
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    padding-top:100px;
    border-radius: 15px; 
    box-shadow: 0 10px 8px 0 #DCEEF5, 0 0px 20px 0 #DCEEF5;
    text-align: left;
}

.caja-texto h4 {
    font-family: 'Baloo Tammudu';
    font-weight: inherit;
}
.h-conta {
    height: auto;
}
.mitos {
    position: relative; 
    top: 90px; 
    bottom: 0;
    left: 0;
    right: 0;
}
.p-25 {
    padding-right: 25%;
}
.tel {
    color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
@media (min-width:528px) and (max-width:767px) {
    .secc-12-p-mobile {
        padding-top: 15%!important;
        padding-bottom: 15%!important
    }
    .secc-9-div-2-img {
        max-width: 50%!important
    }
    .secc-5-mobile-termometro > p {
        margin-left: 15px!important;
        margin-right: 15px!important
    }
    .secc-5-mobile-termometro>p {
        padding: 0 25px!important
    }
    div.container-perrito-foo {
        position: relative!important;
        top: 0!important;
        left: 115px!important;
        right: 0
    }
}
@media (min-width:528px) and (max-width:991px) {
    .secc-12-balanza {
        max-width: 70%!important
    }
    .secc-12-p-mobile {
        padding-top: 14%!important;
        padding-bottom: 14%!important
    }
}
@media (min-width:576px) {
    .secc-9-div-2-img {
        max-width: 50%!important
    }
}
@media (max-width:575px) {
    .secc-9-div-2-img {
        max-width: 70%!important
    }
    .secc-9-div-2-img {
        position: absolute;
        right: 15%!important;
        bottom: -30px!important;
        z-index: 1!important
    }
    .secc-5-mobile-termometro>p {
        padding: 7px!important
    }
    div.container-perrito-foo {
        position: relative!important;
        top: 0!important;
        right: 0!important;
        left: 0!important
    }

    
    .p-mibile {
        padding-top: 50px;
    }
}
@media (min-width:568px) {
    .secc-9-div-2-img {
        max-width: 60%!important;
        position: absolute;
        right: 20%!important;
        bottom: -65px!important;
        z-index: 1!important
    }
   
}
@media (max-width:768px) {
    ::-webkit-scrollbar {
        display: none
    }
    .logo {
        padding-top: 25px;
    }
    .logo-perro {
        max-width: 100%!important;
        position: relative!important;
        top: 25px!important;
        right: 0!important;

    }
    .Contacto {
        padding: 10px!important;
        padding-top: 70px!important
    }
    header, section {
        padding-top: 50px!important;
        padding-bottom: 50px!important
    }
    .sabiasque {
        padding-top: 50px;
    }
    section .dato {
        font-size: 28px!important
    }
    .display-3 {
        font-size: 2.3rem!important
    }
    footer {
        text-align: center!important
    }
    .logo-left {
        position: relative!important
    }
    img.header-img {
        padding-top: 30px!important;
        padding-bottom: 30px!important
    }
    .consec-txt {
        padding-left: 1%!important;
        padding-right: 1%!important
    }
    .head-mbl-logo, .head-mbl-perrito {
        margin-top: 5%!important
    }
    .head-mbl-perrito-img {
        max-width: 100%!important
    }
    .secc2-sub-consec {
        padding-left: 5%!important;
        padding-right: 5%!important
    }
    .secc2-consec-txt {
        padding-left: 3%!important;
        padding-right: 3%!important
    }
    .secc3-heading {
        padding-right: 1%!important;
        padding-left: 1%!important
    }
    .secc-4 {
        text-align: center!important
    }
    p.secc4-txt {
        padding-right: 13%!important;
        padding-left: 13%!important
    }
    p.secc4-txt-2 {
        padding-right: 20%!important;
        padding-left: 20%!important
    }
    .secc4-heading {
        padding-right: 1%!important;
        padding-left: 1%!important
    }
    .secc-4-Perritos-MOBILE {
        padding-top: 0px!important;
        margin-bottom: 3rem!important
    }
    .secc-4-txt2-MOBILE {
        font-family: 'Open Sans'!important;
        font-size: 22px!important;
        font-weight: bold!important;
        font-style: normal!important;
        font-stretch: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        text-align: center!important;
        color: #49352f!important
    }
    .secc-5 {
        text-align: center!important
    }
    .secc5-txt {
        padding-right: 12%!important;
        padding-left: 12%!important;
        padding-bottom: 1rem!important
    }
    .secc-5-mobile-termometro {
        display: inline-flex!important
    }
    .secc-5-mobile-termometro>p {
        transform: rotate(0deg)!important;
        font-family: 'Open Sans'!important;
        font-size: 9px!important;
        font-weight: 600!important;
        font-style: normal!important;
        font-stretch: normal!important;
        line-height: 6.4!important;
        letter-spacing: -0.1px!important;
        color: #5c463e!important
    }
    .secc-5-perros-termometro {
        padding-top: 0px!important
    }
    .secc5-termometro {
        margin-top: 50px!important
    }
    .secc-6 {
        text-align: center!important
    }
    .secc-6-txt {
        padding-right: 10%!important;
        padding-left: 10%!important
    }
    .secc-6-ul-1 {
        padding-left: 20%!important
    }
    .secc-6-map {
        max-width: 100%!important
    }
    .secc-6-map-conta {
        padding: 2%!important
    }
    .redondeado {
        height: 10px!important;
        width: 10px!important
    }
    .secc-7 {
        text-align: center!important
    }
    .secc-7-conta {
        text-align: center!important
    }
    .secc-7-text {
        padding-right: 5%!important;
        padding-left: 5%!important;
        text-align: center!important
    }
    h2.secc10-text-head {
        text-align: center !important;
    }
    .secc-7-MOBILE {
        width: 160px!important;
        height: 40px!important
    }
    .Rectangle-11 {
        padding-top: 10PX;
        padding-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .secc-7-MOBILE span.VER-MS {
        font-size: 20px!important;
        line-height: 2!important
    }
    .secc-7-perrito-dudos {
        max-width: 100%!important
    } 
     .mito-perrito {
        max-width: 70%!important
    } 
    footer .foo-secc-1, .foo-secc-2, .foo-secc-3 {
        padding-top: 5%!important;
        text-align: center!important
    }
    footer p {
        font-family: 'Open Sans'!important;
        font-size: 12px!important;
        font-weight: normal!important;
        font-style: normal!important;
        font-stretch: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        color: #ffffff!important
    }
    .secc-1-head {
        font-family: 'Open Sans'!important;
        font-size: 12px!important;
        font-weight: bold!important;
        font-style: normal!important;
        font-stretch: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        color: #ffffff!important
    }
    .secc-1-sub-head {
        font-family: 'Open Sans';
        font-size: 12px!important;
        font-weight: 600!important;
        font-style: normal!important;
        font-stretch: normal!important;
        line-height: normal!important;
        letter-spacing: normal!important;
        color: #ffffff!important
    }
    .secc-9-head {
        padding-left: 5%!important;
        padding-right: 5%!important
    }
    .secc-9-text {
        padding-right: 10%!important;
        padding-left: 10%!important
    }
    .secc-9-img-sex {
        max-width: 13%!important
    }
    .secc-9-div-2 {
        position: relative;
        padding: 30px!important 
    }
    section.secc-9 {
        padding-bottom: 43px!important
    }
    section.secc-10 {
        
        padding-top: 43px!important;
        
    }
    .secc-10-text-fuente {
       font-size: 7.6px !important; 
        font-style: normal;
        padding: 0
       
    }

    .secc-10-text {
        padding-right: 5%!important;
        padding-left: 5%!important;
        margin-bottom: -50px !important;
        text-align: center !important;

    }
    .secc-10-img-1 {
        max-width: 65%
    }
    .secc-10-img-2 {
        max-width: 80%
    }
    .secc-10-img-3 {
        max-width: 110%
    }
    .secc10-kilos {
        font-size: 15px;
        line-height: 1
    }
    .secc-10-precio-kilo {
        font-size: 13px
    }
    .secc10-text-head {
        text-align: center
    }
    .secc-12-costo {
        font-size: 9.6px!important
    }
    .secc-14-head {
        padding-left: 3%!important;
        padding-right: 3%!important
    }
    .secc-14-text {
        padding-left: 12%!important;
        padding-right: 12%!important
    }
    .secc-12-fuente  {
        font-size: 7.6px!important;
    }  

    .contact-text-head {
        padding-top: 0px!important
    }
    .caja-texto {
        height: auto;
    }
    .h-conta {
        height: auto;
    }
    .mobile-pt {
        padding-top: 75px;
    }
}
@media (min-width:991px) {
    .caja-texto {
        height: 430px;
    }
    .h-conta {
        height: 550px;
    }
    .secc-6-map  {
        position: relative;
        bottom: 230px;
        right:  0px;
        z-index: -1;
    }
     .secc-6-niveles-poblacion  {
        position: relative;
        bottom: 450px;
        left: 0;
    }
    .secc-6 {
        margin-bottom: -200px;
    }
    .logo {
        padding-top: 0!important;
    }
}
@media (min-width:1200px) {

}

@media (max-width:990px) {
    .display-3 {
        font-size: 3.2rem
    }
    .bag-menu-img {
        width: 110%!important;
        height: 100vh!important;
        background-image: url(../img/Pattern-azul.jpg)!important;
        background-repeat: inherit;
        z-index: -1!important;
        position: fixed;
        top: 0;
        right: 0
    }
    #menu a {
        font-family: arial;
        text-decoration: none;
        color: rgb(29, 165, 183);
        margin-right: 20px;
        z-index: -1
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
	    outline: none;
	}
    .nav-link {
        color: #fff!important;
        padding: 20px;
        text-decoration: none;
        font-size: 26px;
        display: block;
        transition: 0.3s;
        padding-left: 40px!important;
        font-weight: bold;
        text-transform: uppercase
    }
    .nav-item.active {
        margin-top: 50px
    }
    .navbar-nav {
        margin: 0 auto
    }
    .secc-14-head {
        margin-top: 30px;
    }
    .logo {
        position: relative!important;
    }
    
}

@media (max-width:368px) {
    img.secc-12-balanza {
        margin-top: 10%
}
}
@media (min-width:479px) and (max-width:767px) {
    h6.secc-12-head {
        height: 110px
    }
    .secc-12-p-mobile {
        padding-top: 14%!important;
        padding-bottom: 14%!important
    }
}
@media (min-width:769px) {
    section.secc-9 {
        padding-bottom: 0
    }
    section.secc-9 {
        padding-bottom: 0
    }
    section.secc-10 {
        padding-top: 100px
    }
    .img-fluid.secc-6-map {
        position: relative!important;
        bottom: 200px!important;
        left: 0px!important;
        z-index: -1!important
    }
    .secc-6-txt {
        padding-right: 0%!important
    }
    .secc-6-lista-posic {
        position: relative!important;
        bottom: 400px!important;
        right: 0px!important
    }
    .secc-6 {
        padding-bottom: 0;
        margin-bottom: -200px
    }
    .contact-text-head {
        padding-top: 150px!important
    }


}

@media (min-width:769px) and (max-width:992px) {
    .caja-texto {
        height: auto ;
    }
    .h-conta {
        height: auto ;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .secc-12-p-mobile {
        padding-top: 10% !important;
        padding-bottom: 10% !important
    }
}


